@model User

<div class="col-sm-12">
    <h3>Register</h3>
</div>

<form action="/register" method="post">
   
    <div class="col-sm-4">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" name="Username" class="form-control" />
            <span asp-validation-for="Username"></span>
        </div>
    </div>
    <br>

    <div class="col-sm-4">
        <div class="form-group">
            <label>First Name:</label>
            <input type="text" name="FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>
    <br>
    <br>

    <div class="col-sm-4">
        <div class="form-group">
            <label>Last Name:</label>
            <input type="text" name="LastName" class="form-control" />
            <span asp-validation-for="LastName"></span>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="col-sm-4">
        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <br>
    <!-- <br> -->

    <div class="col-sm-4">
        <div class="form-group">
            <label>Confirm PW:</label>
            <input type="password" name="Confirm" class="form-control" />
            <span asp-validation-for="Confirm"></span>
        </div>
    </div>
    <br>
    <br>

    <div class="col-sm-12">
        <input type="submit" class="btn btn-primary pull-right" value="Register"/>
    </div>
</form>