<div class="container">
    <div class="jumbotron">
        <center>
        <h1 class= "jumbotext">Auctions</h1>
        </center>
    </div>
    <h1>Welcome!</h1>

    <div class="col-sm-8 well">
        <partial name="_Register" />
    </div>

    <div class="col-sm-4 well">
        <partial name="_Login" />
    </div>
</div>